.container{
  max-width: 600px;
  width:100%;
  padding-top: 100px;
  margin: 0 auto;
}

.aside{
display:flex;
justify-content: space-evenly;

}

.containerowner{
  margin-bottom: 20px;
  padding: 0 0 0 4px;
}

.containerfollows{
  display:flex;
  background: #fff;
 width:100%;
 justify-content: space-evenly;
  
 
}

/* .containerfeeds{
  width: 100%;
  max-width: 614px;
} */

.container1
{
display: flex;
flex-direction: column;
justify-content: column;
line-height: 20px;
@media (max-width: 640px) {
 align-items: center; 
 
}
}

.container1>img{
  width: 100px;
  height:100px;
  border-radius: 800px;
  

  @media (max-width: 640px) {
    width: 40px;
    height: 40px;
  }

}