.navbar{
    display: flex;
    margin-top:0;
    box-shadow: 1px 5px 5px #e0dcdc;
    background-color: rgba(128, 128, 128, 0.078);
}

.nav-menu{
    display: flex;
}

li{
    list-style: none;
    padding: 1px 15px;
    color: black;
    font-weight: 200;
}