

.form0{
    height: 100vh;
    width: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 480px;
    @media (max-width: 640px) {
        min-width: 100vw; 
       
        margin-left: 0px;
 
       }
    
   
}

.form1{
   
    width: 100%;
    height: auto;
    @media (max-width: 640px) {
        width: 50%; 
        height: 100vh;
       }
}

.form1 form{
    padding: 30px;
    background: #fff;
    width: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form1 form input{
    width: 100%;
    margin-bottom: 7px;
    padding: 10px 8px;
    font: 400 13.333px Arial;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}

.form1 form button{
    width: 100%;
    padding: 9px 9px;
    background-color: #3897f0;
    border: 1px solid #3897f0;
    border-radius: 4px;
    margin-top: 20px;
    font: bold 13.333px Arial;
    color: #fff;
    cursor: pointer;
    outline: 0px;
    &:hover {
      background-color: #38ff;
    }
}

.form1 form span{
    text-align: center;
    color: #999;
    font-size: 20px;
    margin: 15px 0;
    &.footer {
      font-size: 12px;
    }
}

.form3{
    background: #fff;
    width: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
}

.form3 p{
    color: #999;
    font-size: 15px;
}